body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecera {
  color: white;
  background-image: url(stadium-02.jpg);
  padding: 3% 0% 5% 0%;
  background-size: cover;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  padding: 0% 0% 2% 0%;
}

.cuerpo {
  background: linear-gradient(rgb(35, 155, 224), rgb(150, 206, 230));
  padding-bottom: 3%;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5% 0% 0% 0%;
}

h2 {
  font-weight: bold;
  font-size: x-large;
}

.body-text,
footer {
  padding: 1% 0% 1% 0%;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: rgb(4, 30, 52);
  color: white;
  font-size: small;
}
