.cabecera {
  color: white;
  background-image: url(stadium-01.jpg);
  padding: 15% 0% 15% 0%;
  background-size: cover;
}

.cuerpo {
  background-color: aquamarine;
}

footer {
  background-color: rgb(4, 30, 52);
  color: white;
}
